<h3 style="text-align:center">Post Service Application:</h3>
<nav class="container class= sd-2 text-center">
  <a routerLink="/" routerLinkActive="active" class="mr-2 text-center" style ="text-align: center;
  font-size: 35px; color: rgb(192, 226, 43);">Siuntos</a>
</nav>
<nav class="container class= sd-2 text-center">
    <a routerLink="/menus" routerLinkActive="active" class="mr-2 text-center" style ="text-align: center;
    font-size: 35px; color: rgb(112, 156, 10);">Paštomatai</a>
  </nav>
<router-outlet></router-outlet>